@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
div#pageContainer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #a5a5a5;
}
h1 {
    padding: 1em;
    text-align: center;
    font-size: 4em;
}
div#post {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}
div#post img {
    margin-bottom: 0.5em;
    border: 5px #000 solid;
    border-radius: 10px;
    width: 50%;
}
div#loggedUser {
    top: 20px;
    right: 20px;
    position: absolute;
}
img.thumbnail{
    max-width: 100px;
}