@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#regContainer {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.postContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

form input {
    width: fit-content;

}

div#pageContainer {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
h1 {
    padding: 1em;
    text-align: center;
    font-size: 4em;
}
div#post {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}
div#post img {
    margin-bottom: 0.5em;
    border: 5px #000 solid;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}
div#loggedUser {
    top: 20px;
    right: 20px;
    position: absolute;
}
img.thumbnail{
    max-width: 100px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
